<!--Include Header-->
<%-include('inc /_header.ejs')%>

    <div class="h_banner">
        <h1>JACOB News API</h1>
    </div>


    <div class="steps_div">
        <h1 class="steps_div_main_h">Steps To Follow</h1>

        <div class="steps-div">
            <h1>Step 1</h1>
            <p>You have to download Postman for test this API without using any form. Using Postman is helpful for test
                this API effectively. And It is helpful for get news , post your news , update and delete any news. Many
                developers use Postman for test their API.</p>
            <a href="https://www.postman.com/" target="_blank"><i class="fa-solid fa-download"></i>Download Postman</a>
        </div>

        <div class="steps-div">
            <h1>Step 2</h1>
        </div>
    </div>

    <!--Include footer-->
    <%-include('inc /_footer.ejs')%>