<!--Include Header-->
<%-include('inc/_header.ejs')%>

<div class="h_banner">
    <h1>JACOB News API</h1>
</div>

<div class="intro-div">
    <h1 class="intro-h">JACOB</h1>
    <p class="intro-p">This API is created for develop News Websites. Anyone can get News , publish them , update and delete news. In addition you can use this API for your educational purposes.</p>
    <a href="/start" class="intro-btn">Get Started</a>
</div>

<!--Include footer-->
<%-include('inc/_footer.ejs')%>